.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
}

.heading {
  position: absolute;
  left: 50%;
  top: 0%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(189, 255, 233);
}

button {
  background-color: rgb(26, 26, 26);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 6px;
  margin: 5px;
}

input {
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 6px;
}
